@{
	ViewData["Title"] = "Home Page";
}

<div>
	Number of lists: <input id="numberOfLists" type="number" oninput="inputNumberOfLists()" />
	<br />
	<div id="lists"></div>
	<br />
	<input type="button" value="Get result" onClick="buttonClick()" />
</div>
<div id="result"></div>

<script type="text/javascript">
	function listOnKeyPress(e, list) {
		var key = e.which;
		if (key >= 48 && key < 58) {
			var start = list.value.substring(0, list.selectionStart).lastIndexOf("\n");
			start = start == -1 ? 0 : start + 1;
			var end = list.value.substring(list.selectionStart).indexOf("\n");
			end = end == -1 ? list.value.length - 1 : end + list.selectionStart - 1;
			if (end - start == 10) {
				alert("you definitely don't need this huge number")
				e.preventDefault();
			}
		}
		else if (key == 13) {
			list.style.height = (list.scrollHeight + 15) + "px";//15 - depends on font height
		}
		else {
			e.preventDefault();
		}
	}
</script>

<script type="text/javascript">
	function listOnErase(e, list) {
		var key = e.keyCode;
		if (key == 8 || key == 46) {
			list.style.height = "0px";
			list.style.height = list.scrollHeight + "px";
		}
	}
</script>

<script type="text/javascript">
	function getAllLists() {
		var totalString = "";
		var number = document.getElementById("numberOfLists").value;
		for (var i = 0; i < number; i++) {
			totalString += ";" + document.getElementById("list" + i).value;
		}
		totalString = totalString.substring(1);
		return totalString;
	}
	function buttonClick() {
		document.getElementById("result").innerHTML = '@Component.InvokeAsync(nameof(ComponentLibrary.ViewComponents.ListViewComponent), new { lists = "'+getAllLists()+'" })';
	}

</script>

<script type="text/javascript">
	function inputNumberOfLists() {
		var number = document.getElementById("numberOfLists").value;
		var container = document.getElementById("lists");
		container.innerHTML = "";
		for (var i = 0; i < number; i++) {
			container.innerHTML += "<textarea id=\"list" + i + "\" rows=\"1\" cols=\"10\" style=\"resize: none; overflow:hidden;\" onkeypress=\"listOnKeyPress(event,this)\" onkeyup=\"listOnErase(event,this)\"></textarea>"
		}
		return true; //return true to submit, false to do nothing
	}
</script>